html {
  background-color: #f4f4f4;
}

body {
  font-family: "SF-Pro-Display";
}

.container {
  margin: auto;
  padding: 10px;
}

.headerText {
  text-align: center;
  border: 1px solid #464646;
  border-radius: 5px;
  padding: 10px;
}

.qr-desc {
  color: #1f1f1f;
  padding: 10px;
}

.qr-item {
  color: #1f1f1f;
  padding: 10px;
}

.loading-icon {
  width: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}